*, *::before, *::after {
    user-select: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10.8vmax;
    background-color: #fdf6e3;
    color: #002b36;
}

body {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.grid {
    overflow: hidden;
}

i {
    text-align: center;
    display: inline-block;
    min-width: 16.66%;
}

i.stripe {
    background-color: #e9e1c9;
}
